
<%= f.fields_for :branches, @branch do |ff| %>
  <hr><br/> 
  <div class="row">
    <div class="col-md-6 form-group">
      <%= ff.label :name, "Branch Name" %><br>
      <%= ff.text_field :name, required: true, :placeholder=>"Enter Branch Name", :class=>"form-control" %>
    </div>

    <div class="col-md-6 form-group">
      <%= ff.label :address %><br>
      <%= ff.text_field :address, required: true, :placeholder=>"Branch Address", :class=>"form-control" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 form-group">
      <%= ff.label :city %><br>
      <%= ff.text_field :city, required: true, :placeholder=>"City", :class=>"form-control" %>
    </div>
    <div class="col-md-6 form-group">
      <%= ff.label :state %><br>
      <%= ff.text_field :state, :placeholder=>"State", :class=>"form-control" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 form-group">
      <%= ff.label :country %><br>
      <%= ff.country_select :country, {selected: %w(US) }, :class=>"form-control" %>
    </div>
    <div class="col-md-6 form-group">
      <%= ff.label :zip %><br>
      <%= ff.text_field :zip, required: true, :placeholder=>"Zip", :class=>"form-control" %>
    </div>
  </div>
<% end %>
