<h1>Listing Sale Types</h1>

<table class="table table-hover"> 
  <thead>
    <tr>
      <th>Name</th>
      <th>Amount</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @sale_types.each do |sale_type| %>
      <tr>
        <td><%= sale_type.name %></td>
        <td><%= sale_type.amount %></td>
        <td>
          <%= link_to t(:edit), edit_sale_type_path(sale_type, locale: I18n.locale) %>
          <%= link_to t(:destroy), [sale_type, locale: I18n.locale], method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sale Type', new_sale_type_path(locale: I18n.locale)if @sale_types.count < 2  %>
