<%= form_for(@store) do |f| %>
  <% if @store.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@store.errors.count, "error") %> prohibited this store from being saved:</h2>

      <ul>
      <% @store.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, "Store Name" %><br>
    <%= f.text_field :name, :placeholder=>"Enter Store Name", required: true, :class=>"form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :sub_categories, "Category" %><br>
    <%= text_field_tag "sub_categories_id", "", "data-pre" => @store.sub_categories.map {|f| {:id=> f.id, :name=> "#{f.name}-#{f.category.name}"} }.to_json  %>
    <p class="category-warning error_message"></p>
  </div>

  <div class="branches_form">
    <%= render "branches/form", :f => f %>
  </div>
  <div class="actions">
    <%= f.submit :class=>"btn btn-success pull-right" %>
  </div>
<% end %>


<script>
  $(function() {
    $("#sub_categories_id").tokenInput("/category_sub.json", {
      preventDuplicates: true,
      prePopulate: $("#sub_categories_id").data("pre"),
      theme: "facebook"
    });
  });

  $('#new_store').submit(function(){
    category=$('#sub_categories_id').val(); 

    if (category==""){
      $('.category-warning').html('Please select category.');
      return false;
    }
    else{
      $('.category-warning').html('');
    } 

  })

</script>
