<br/>
<%= link_to 'New Store', new_store_path, :class=>"btn btn-info pull-right" if user_signed_in? && @user == current_user %>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Category</th>
      <th>Branches</th>
      <% if (user_signed_in? && (@stores.collect(&:user).include? current_user)) %><th colspan="3"></th><% end %>
    </tr>
  </thead>

  <tbody>
    <% @stores.each do |store| %>
      <tr>
        <td><%= store.name %></td>
        <td>
          <% store.sub_categories.each do |sub_category| %>
            <%= sub_category.name %> - <%= sub_category.category.name%><br/>
          <% end %>
        </td>
        <td><%= store.branches.count %></td>
        <% if user_signed_in? && store.user == current_user %>
          <td><%= link_to 'Show', store %></td>
          <td><%= link_to 'Edit', edit_store_path(store) %></td>
          <td><%= link_to 'Destroy', store, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
