<div class="row">
  <div class="col-md-3" style="padding:15px">
    <%= image_tag @store.image.url(:medium), :class=>"store_show_image" %>
  </div>
  <div class="col-md-9">
    <h1 class="pull-left"><%= @store.name %></h1><br/><br/><br/><br/>
    <p><%= @store.description %></p>
  </div>
</div>


<div class="row">
  <div class="col-md-3">
    <div class="panel-group" id="accordion">
      <% @categories.each do |category| %>
        <div class="panel panel-default">
          <div class="panel-heading">
            <a data-toggle="collapse" data-parent="#accordion" href="#category_<%= category.id %>" >
              <h4 class="panel-title">
                <%= category.name %>
                <%= image_tag "down_arrow.png", :class=>"down_arrow pull-right" %>
              </h4>
            </a>
          </div>
          <div id="category_<%= category.id %>" class="panel-collapse collapse">
            <div class="panel-body">
              <ul class="list-group">
                <% category.sub_categories.each do |sub_category| %>
                  <% if sub_category.stores.include? @store %>
                    <li class="list-group-item">
                      <%= sub_category.name %>
                    </li>
                  <% end %>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <ul class="list-group">
      <% @store.branches.each do|branch| %>
        <li class="list-group-item">
          <h4><%= link_to branch.name, store_path(branch_id: branch.id), remote: true %></h4>
          <%= branch.city %> | <%= branch.country %>
          <%= link_to 'Delete', [@store,branch], method: :delete, :class=>"pull-right", data: { confirm: 'Are you sure?' } if user_signed_in? && @store.user == current_user %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="col-md-9 store_show_block">
    <%= render 'home/result_list' %>
  </div>
</div>