
<br>

<%= link_to 'New Flyer', new_flyer_path, :class=>"btn btn-info pull-right" if user_signed_in? && (current_user.is_admin ||  @user == current_user) %>
<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Web link</th>
      <th>Status</th>
      <% if (user_signed_in? && (current_user.is_admin || (@flyers.collect(&:user).include? current_user))) %><th colspan="2"></th><% end %>
    </tr>
  </thead>

  <tbody>
    <% @flyers.each do |flyer| %>
      <tr>
        <td><%= image_tag flyer.image.url(:tiny) %></td>
        <td><%= link_to flyer.title %></td>
        <td><%= link_to flyer.web_link, flyer.web_link %></td>
        <td><%= flyer.expired? ? "Expired" : "Running" %></td>
        <% if user_signed_in? && (current_user.is_admin || flyer.user == current_user) %>
          <td><%= link_to 'Edit', edit_flyer_path(flyer) %></td>
          <td><%= link_to 'Destroy', flyer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
