<br/>
<%= link_to 'New Advertisement', new_advertisement_path, :class=>"btn btn-info pull-right" if user_signed_in? && (current_user.is_admin || @user == current_user) %>
<table class="table table-hover table-responsive">
  <thead>
    <tr>
      <th></th>
      <% if @user.is_admin %><th>Owner</th> <% end %>
      <th>Title</th>
      <th>Web link</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Store</th>
      <th>In Zones</th>
      <th>Status</th>
      <% if (user_signed_in? && (current_user.is_admin || (@advertisements.collect(&:user).include? current_user))) %><th colspan="2"></th><% end %>
    </tr>
  </thead>

  <tbody>
    <% @advertisements.each do |advertisement| %>
      <tr>
        <td><%= image_tag advertisement.image.url(:tiny), :class=>"#{'missing_tiny_image' if advertisement.image_file_name.nil? }" %></td>
        <% if @user.is_admin %><td> <%= link_to advertisement.user.name, profile_path(username: advertisement.user.username) %> </td> <% end %>
        <td><%= advertisement.title %></td>
        <td><%= link_to advertisement.web_link, advertisement.web_link %></td>
        <td><%= advertisement.start_date.strftime("%d %b,%y") %></td>
        <td><%= advertisement.end_date.strftime("%d %b,%y") %></td>
        <td><% advertisement.branches.collect(&:store).uniq.each do |s| %>
            <%= link_to s.name, store_path(s) %> <br/>
          <% end %>
        </td>
        <td><%= raw advertisement.zones.collect(&:name).join("<br/>") %></td>
        <td><%= advertisement.expired? ? "Expired" : "Running" %></td>
        <% if user_signed_in? && (current_user.is_admin || advertisement.user == current_user) %>
          <td><%= link_to 'Edit', edit_advertisement_path(advertisement) %></td>
          <td><%= link_to 'Destroy', advertisement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>