<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-body">
      <%= @data.web_link.present? ? link_to(image_tag(@data.image.url, :class=>"modal_image", :id=>"image_data_#{@data.id}"), @data.web_link) : (image_tag @data.image.url, :class=>"modal_image", :id=>"image_data_#{@data.id}") %>
      <br/>
      <br/>
      <div class="row">
        <div class="col-md-3">
          <%= link_to "Share with facebook", share_with_facebook_url({ :url   => "http://www.etcty.com",
             :title => @data.title,
             :images => {0 => @data.image.url},
             :summary => "Pragmatic Ruby on Rails development company" })%> 
          Share on :<%= social_share_button_tag(@data.title, :url => root_url(locale: I18n.locale, id: @data.id, model: @data.class)) %>
        </div>
        <div class="col-md-2">
          <%= link_to "Print", "#", :class=>"btn btn-default print_me", :id=>"print_data_#{@data.id}" %>
        </div>
        <div class="col-md-7">
          <%= form_tag data_emailable_path(id: @data.id, model: @data.class), remote: true do %>
            <%= text_field_tag "email", "", :placeholder=>"Email whom you  want to send this", class: "form-control pull-left", :style=>"width:68%" %>
            <%= submit_tag "Send Email", :class=> "btn btn-default", data: { disable_with: "Sending..." } %>
          <% end %>
          <%#= link_to "Send Email", "#", :class=> "btn btn-default send_mail", :disable_with => "Sending…"  %>
          <!-- <button type="button" class="btn btn-default send_mail", :disable_with => “Saving…” >Send Email</button> -->
        </div>
      </div>
    </div>
  </div>
</div>


<script>
  $(document).ready(function(){
    $(".social-share-button").addClass("pull-right")
    // $(".send_mail").click(function(){
    //   $(".load").show();
    //   $.ajax({
    //     type: "post",
    //     url: "<%= data_emailable_path(id: @data.id, model: @data.class) %>",
    //     data: {email: $("#send_email").val()},
    //     dataType: "JSON",
    //     success: function(data) {
    //       $(".load").hide();
    //       alert("Mail Successfully sent to "+data.email);
    //     }
    //   })
    // })
  })
</script>