<% if params["search"].present? || @category.present? || @sub_category.present?  || params["location"].present? %>
	<h3>Search Result for 
		<% if @category.present? %> Category : <%= @category.name %> <% end %>
		<% if @sub_category.present? %> SubCategory : <%= @sub_category.name %> <% end %>
		<% if params["search"].present? %>Title : <%= params['search'] %> <% end %>
		<% if params["location"].present? %> Location : <%= params['location'] %><% end %>
	</h3>
<% end %>
<!-- Nav tabs -->
<% if @advertisements.blank? && @deals.blank? && @sales.blank? && @educations.blank? && @flyers.blank? && @video_advs.blank? %>
	<h3>No Result Found</h3>
<% end %>
<ul class="nav nav-pills" role="tablist">
  <% if !@advertisements.blank? %>
 	  <li class="active"><a href="#Advertisements" role="tab" data-toggle="tab">Advertisements</a></li>
  <% end %>
  <% if !@deals.blank? %>
  	<li <% if @advertisements.blank? %> class="active" <% end %>><a href="#Deals" role="tab" data-toggle="tab">Deals</a></li>
  <% end %>
  <%# if !@banners.blank? %>
  	<!-- <li <%# if @advertisements.blank? && @deals.blank? %> class="active" <%# end %>><a href="#Banners" role="tab" data-toggle="tab">Banners</a></li> -->
  <%# end %>
  <% if !@sales.blank? %>
  	<li <% if @advertisements.blank? && @deals.blank? %> class="active" <% end %>><a href="#Sales" role="tab" data-toggle="tab">Sales</a></li>
  <% end %>
  <% if !@educations.blank? %>
  	<li <% if @advertisements.blank? && @deals.blank? && @sales.blank? %> class="active" <% end %>><a href="#Educations" role="tab" data-toggle="tab">Educations</a></li>
  <% end %>
  <% if !@flyers.blank? %>
  	<li <% if @advertisements.blank? && @deals.blank? && @sales.blank? && @educations.blank? %> class="active" <% end %>><a href="#Flyers" role="tab" data-toggle="tab">Flyers</a></li>
  <% end %>
  <% if !@video_advs.blank? %>
    <li <% if @advertisements.blank? && @deals.blank? && @sales.blank? && @educations.blank? && @flyers.blank? %> class="active" <% end %>><a href="#Videos" role="tab" data-toggle="tab">Videos</a></li>
  <% end %>
</ul>
<br/>
<div class="tab-content">
  <% if !@advertisements.blank? %>
	  <div class="tab-pane active" id="Advertisements">
	  	<%= render 'advertisements/index_box' %>
	  </div>
  <% end %>
  <% if !@deals.blank? %>
	  <div class="tab-pane <% if @advertisements.blank? %> active <% end %> " id="Deals">
	  	<%= render 'deals/index_box' %>
	  </div>
  <% end %>
  <%# if !@banners.blank? %>
	  <!-- <div class="tab-pane <%# if @advertisements.blank? && @deals.blank? %> active <%# end %> " id="Banners">
	  	<%#= render 'banners/index_box' %>
	  </div> -->
  <%# end %>
  <% if !@sales.blank? %>
	  <div class="tab-pane <% if @advertisements.blank? && @deals.blank? %> active <% end %> " id="Sales">
	  	<%= render 'sales/index_box' %>
	  </div>
  <% end %>
  <% if !@educations.blank? %>
	  <div class="tab-pane <% if @advertisements.blank? && @deals.blank? && @sales.blank? %> active <% end %> " id="Educations">
	  	<%= render 'educations/index_box' %>
	  </div>
  <% end %>
  <% if !@flyers.blank? %>
	  <div class="tab-pane <% if @advertisements.blank? && @deals.blank? && @sales.blank? && @educations.blank? %> active <% end %> " id="Flyers">
	  	<%= render 'flyers/index_box' %>
	  </div>
  <% end %>
  <% if !@video_advs.blank? %>
    <div class="tab-pane <% if @advertisements.blank? && @deals.blank? && @sales.blank? && @educations.blank? && @flyers.blank? %> active <% end %> " id="Videos">
      <%= render 'video_advs/index_box' %>
    </div>
  <% end %>
</div>