<div class="row">
	<div class="col-lg-8 col-sm-8 col-md-8 col-xs-12 no-pd no-mg">
		
		<div id="banner_slider" class="carousel carousel-fade">
			<div class="carousel-inner ">
				<% @banners.each_with_index do |banner, index| %>
					<div class="item <% if index==0 %>active <% end %>">
						<%= banner.web_link.present? ? link_to(image_tag(banner.image.url(:thumbnail), :class=>"thumbnail img-responsive banner_image"), banner.web_link) : image_tag(banner.image.url(:thumbnail), :class=>"thumbnail img-responsive banner_image") %>
					</div>
				<% end %>
			</div>
		</div>

		<% @deal_types.each do |deal_type| %>
			<div class="col-md-6" style="margin-bottom: 20px;">
				<div class="thumbnail text-center bg-thmb">
					<%= link_to deal_type.name, deals_path(deal_type: [deal_type.id]) %>
				</div>
				<div id="mydealtype<%= deal_type.id %>" class="carousel carousel-fade">
					<div class="carousel-inner ">
						<% deal_type.deals_within_today.each_with_index do |deal, index| %>
							<div class="item <% if index==0 %>active <% end %> thumbnail">
								<%= deal.web_link.present? ? link_to(image_tag(deal.image.url(:thumbnail), :class=>"img-responsive sliding_home_image"), deal.web_link) : (image_tag deal.image.url(:thumbnail), :class=>"img-responsive sliding_home_image") %>
							</div>
						<% end %>
					</div>
				</div>
				<!-- End Carousel -->
			</div>
		<% end %>
	</div>
	<!--slider-->
	<div class="col-lg-4 col-sm-4 col-md-4 col-xs-12 bdr-side" style="overflow: hidden;">
		<br />
		<div class="thumbnail text-center bg-thmb">
			<%= link_to "Featured Video", video_advs_path %>
		</div>
		<div class="flex-video widescreen">
			<div id="myvideo" class="carousel carousel-fade" style="margin-top: -25px !important;">
				<div class="carousel-inner ">
					<% if @videos.present? %>
						<% @videos.each_with_index do |video, index| %>
							<div class="item <% if index==0 %>active <% end %> thumbnail" style="height:230px;">
								<iframe allowfullscreen="" height="230" src="http://www.youtube.com/embed/<%= video.youtube_url.split('=')[1] %>?feature=player_detailpage" frameborder="0">
									</iframe>
							</div>
						<% end %>
					<% else %>
						<iframe allowfullscreen="" src="http://www.youtube.com/embed/6NbAAmDuv_8?feature=player_detailpage" frameborder="0">
						</iframe>
					<% end %>
				</div>
			</div>
		</div>
		<div class="thumbnail text-center bg-thmb">
			Coupons
		</div>
		<img class="thumbnail img-responsive" src="http://placehold.it/351x160/" alt="Slide1"/>
		<div class="thumbnail text-center bg-thmb">
			Coupons
		</div>
		<img class="thumbnail img-responsive" src="http://placehold.it/351x160/" alt="Slide1"/>
	</div>
</div>
<!--row end-->
<div class="row pdrt_0">
 	<% @zones.each do |zone| %>
 		<div class="col-md-4" style="margin-bottom: 20px;">
			<div class="thumbnail text-center bg-thmb">
				<%= link_to zone.name, advertisements_path(zone_id: zone.id) %>
			</div>
			<div id="myzone<%= zone.id %>" class="carousel carousel-fade">
				<div class="carousel-inner ">
					<% zone.advs_within_today.each_with_index do |advertisement, index| %>
						<div class="item <% if index==0 %>active <% end %> thumbnail">
							<%= advertisement.web_link.present? ?  link_to(image_tag(advertisement.image.url(:thumbnail), :class=>"img-responsive sliding_home_image"), advertisement.web_link) : image_tag(advertisement.image.url(:thumbnail), :class=>"img-responsive sliding_home_image") %>
						</div>
					<% end %>
				</div>
			</div>
			<!-- End Carousel -->
		</div>
	<% end %>
</div>
<div class="row">
	<div class="col-md-8">
		<% @sale_types.each do |sale_type|%>
			<div class="col-md-6">
				<div class="thumbnail text-center bg-thmb">
					<%= link_to sale_type.name, sales_path(sale_type: [sale_type.id]) %>
				</div>
				<div id="mysaletype<%= sale_type.id %>" class="carousel-video carousel-fade">
					<div class="carousel-inner ">
						<% sale_type.sales_within_today.each_with_index do |sale, index| %>
							<div class="item <% if index==0 %>active <% end %> thumbnail">
								<%= sale.web_link.present? ? link_to(image_tag(sale.image.url(:thumbnail), :class=>"img-responsive sliding_home_image"), sale.web_link) : image_tag(sale.image.url(:thumbnail), :class=>"img-responsive sliding_home_image") %>
							</div>
						<% end %>
					</div>
				</div>
			</div>
		<% end %>
		<% @education_types.each do |education_type|%>
			<div class="col-md-6">
				<div class="thumbnail text-center bg-thmb">
					<%= link_to education_type.name, educations_path(education_type: [education_type.id]) %>
				</div>
				<div id="myeducationtype<%= education_type.id %>" class="carousel carousel-fade">
					<div class="carousel-inner ">
						<% education_type.educations_within_today.each_with_index do |education, index| %>
							<div class="item <% if index==0 %>active <% end %> thumbnail">
								<%= education.web_link.present? ? link_to(image_tag(education.image.url(:thumbnail), :class=>"img-responsive sliding_home_image"), education.web_link) : image_tag(education.image.url(:thumbnail), :class=>"img-responsive sliding_home_image") %>
							</div>
						<% end %>
					</div>
				</div>
			</div>
		<% end %>
	</div>
	<div class="col-md-4 bdr-side">
		<br />
		<div class="thumbnail text-center bg-thmb">
			Flyer
		</div>
		<div id="banner_slider" class="carousel carousel-fade">
			<div class="carousel-inner ">
				<% @flyers.each_with_index do |flyer, index| %>
					<div class="item <% if index==0 %>active <% end %>">
						<%= flyer.web_link.present? ? link_to(image_tag(flyer.image.url(:thumbnail), :class=>"thumbnail img-responsive"), flyer.web_link) : image_tag(flyer.image.url(:thumbnail), :class=>"thumbnail img-responsive") %>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>
<!--row end-->


<script>
	$(document).ready(function(){
		/* smooth scrolling for scroll to top */
		$('.scroll-top').click(function() {
			$('body,html').animate({ scrollTop: 0 }, 600);
			return false;
		})

		$('.carousel').carousel({
			interval: 5000
		});

		$('.carousel-video').carousel({
			interval: 7000
		});

	})
	
</script>
