<div class="row">
	<div class="col-lg-8 col-sm-8 col-md-8 col-xs-12 no-pd no-mg">
		<div class="row">
			<% @deal_types.each do |deal_type| %>
				<div class="col-md-6" style="margin-bottom: 3px;">
					<div class="thumbnail home_type_header text-center bg-thmb">
						<%= link_to deal_type.name, deals_path(deal_type: [deal_type.id], locale: I18n.locale) %>
					</div>
					<div id="dealtype_<%= deal_type.id %>" class="carousel carousel-fade">
						<%= render "slider/dealtype_slider", deal_type: deal_type %>
					</div>
					<!-- End Carousel -->
				</div>
			<% end %>
		</div>
		<div id="banner_slider" class="carousel carousel-fade">
			<%= render "slider/banner_slider" %>
		</div>
	</div>
	<!--slider-->
	<div class="col-lg-4 col-sm-4 col-md-4 col-xs-12 bdr-side" style="overflow: hidden;">
		<br />
		<div class="thumbnail home_type_header text-center bg-thmb">
			<%= link_to t(:featured_video), video_advs_path(locale: I18n.locale)%>
		</div>
		<div class="flex-video widescreen">
			<div id="video_slider" class="carousel carousel-fade" style="margin-top: -25px !important;">
				<%= render "slider/video_slider" %>
			</div>
		</div>
		<% @coupen_types.each do |coupen_type| %>
			<div class="thumbnail home_type_header text-center bg-thmb">
				<%= link_to coupen_type.name, deals_path(coupen_type: [coupen_type.id], locale: I18n.locale) %>
			</div>
			<div id="coupentype_<%= coupen_type.id %>" class="carousel carousel-fade">
				<%= render "slider/coupentype_slider", coupen_type: coupen_type %>
			</div>
		<% end %>
	</div>
</div>
<!--row end-->
<br/>
<div class="row pdrt_0">
 	<% @zones.each do |zone| %>
 		<div class="col-md-4" style="margin-bottom: 20px;">
			<div class="thumbnail home_type_header text-center bg-thmb">
				<%= link_to zone.name, advertisements_path(locale: I18n.locale,zone_id: zone.id) %>
			</div>
			<div id="zone_<%= zone.id %>" class="carousel carousel-fade">
				<%= render "slider/zone_slider", zone: zone %>
			</div>
			<!-- End Carousel -->
		</div>
	<% end %>
</div>
<div class="row">
	<div class="col-md-8">
		<div class="row">
			<% @sale_types.each do |sale_type|%>
				<div class="col-md-6">
					<div class="thumbnail home_type_header text-center bg-thmb">
						<%= link_to sale_type.name, sales_path(sale_type: [sale_type.id], locale: I18n.locale) %>
					</div>
					<div id="saletype_<%= sale_type.id %>" class="carousel-video carousel-fade">
						<%= render "slider/saletype_slider", sale_type: sale_type %>
					</div>
				</div>
			<% end %>
		</div>
		<div class="row">
			<% @education_types.each do |education_type|%>
				<div class="col-md-6">
					<div class="thumbnail home_type_header text-center bg-thmb">
						<%= link_to education_type.name, educations_path(education_type: [education_type.id], locale: I18n.locale) %>
					</div>
					<div id="educationtype_<%= education_type.id %>" class="carousel carousel-fade">
						<%= render "slider/educationtype_slider", education_type: education_type %>
					</div>
				</div>
			<% end %>
		</div>
	</div>
	<div class="col-md-4 bdr-side">
		<br />
		<div class="thumbnail home_type_header text-center bg-thmb">
			<%= link_to t(:store_flyers), flyers_path(locale: I18n.locale)%>
		</div>
		<div id="flyer_slider" class="carousel carousel-fade">
			<%= render "slider/flyer_slider" %>
		</div>
	</div>
</div>
<!--row end-->

<script>
	$(document).ready(function(){
		/* smooth scrolling for scroll to top */
		$('.scroll-top').click(function() {
			$('body,html').animate({ scrollTop: 0 }, 600);
			return false;
		})

		$('.carousel').carousel({
			interval: 5000
		});

		$('.carousel-video').carousel({
			interval: 7000
		});

		$('.carousel').on('slid.bs.carousel', function () {
			var id = this.id
			var data = id.split("_")
    	slides = $("#"+id+" .item").size();
    	current = $("#"+id+" .item.active").index()
    	if (slides > 2 && current == slides-1){
				setTimeout(
				  function() 
				  {
				    $.ajax({
		    			type : "GET",
		    			url: "<%= update_slider_content_path(locale: I18n.locale)%>",
		    			data: {data1: data[0], data2: data[1]}
		    		})
				  }, 4000);
    	}
    }); 

	})
	
</script>
