<div class="row">
  <div class="col-md-2" style="padding: 20px;"><%= image_tag @user.avatar.url, :class=>"profile_image" %></div>
  <div class="col-md-10">
    <h1 style="text-align:left"><%=@user.name.capitalize %></h1>
    <% if !@user.country.nil? %>FROM : <b><%= @user.country.upcase  %></b>&nbsp;&nbsp; <% end %>

    <%= link_to 'Edit Profile', edit_user_registration_path, :class=>"go_green" if (user_signed_in? && @user == current_user) %>
  </div>
</div>


<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
  <li class="active"><a href="#stores" role="tab" data-toggle="tab">My Stores</a></li>
  <li><a href="#advs" role="tab" data-toggle="tab">My Advertisements</a></li>
  <li><a href="#deals" role="tab" data-toggle="tab">My Deals</a></li>
  <li><a href="#banners" role="tab" data-toggle="tab">My Banners</a></li>
  <li><a href="#sales" role="tab" data-toggle="tab">My Sales</a></li>
  <li><a href="#educations" role="tab" data-toggle="tab">My Education</a></li>
  <li><a href="#flyers" role="tab" data-toggle="tab">My Flyers</a></li>
  <li><a href="#videos" role="tab" data-toggle="tab">My Videos</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="stores"><%= render "stores/index_list"%></div>
  <div class="tab-pane" id="advs"><%= render "advertisements/index_list"%></div>
  <div class="tab-pane" id="deals"><%= render "deals/index_list"%></div>
  <div class="tab-pane" id="banners"><%= render "banners/index_list"%></div>
  <div class="tab-pane" id="sales"><%= render "sales/index_list"%></div>
  <div class="tab-pane" id="educations"><%= render "educations/index_list"%></div>
  <div class="tab-pane" id="flyers"><%= render "flyers/index_list"%></div>
  <div class="tab-pane" id="videos"><%= render "video_advs/index_list"%></div>
</div>

