<div class="row">
  <div class="col-md-2" style="padding: 20px;"><%= image_tag @user.avatar.url, :class=>"profile_image" %></div>
  <div class="col-md-10">
    <h1 style="text-align:left"><%=@user.name.capitalize if @user.name %></h1>
    <% if !@user.country.nil? %>FROM : <b><%= @user.country.upcase  %></b>&nbsp;&nbsp; <% end %>

    <%= link_to 'Edit Profile', edit_user_registration_path, :class=>"go_green" if (user_signed_in? && @user == current_user) %>
  </div>
</div>


<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
  <% [:stores, :advertisements, :deals, :sales, :educations, :flyers, :video_advs, :coupens, :institutes].each_with_index do |value, index| %>
    <li class="<% if index == 0 %>active <% end %>"><a href="#<%= value %>" role="tab" data-toggle="tab"> <% if !current_user.is_admin %> My <% end %> <%= "#{value}" == "video_advs" ? "Videos" : value.capitalize %></a></li>  
  <% end %>
  <% if @user.is_admin %> <li><a href="#banners" role="tab" data-toggle="tab"> Banners </a></li> <% end %>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <% [:stores, :advertisements, :deals, :sales, :educations, :flyers, :video_advs, :coupens, :institutes].each_with_index do |value, index| %>
    <div class="tab-pane <% if index == 0 %>active <% end %>" id="<%= value %>"><%= render "#{value}/index_list"%></div>
  <% end %>
  <% if @user.is_admin %> <div class="tab-pane" id="banners"><%= render "banners/index_list"%></div> <% end %>
</div>

