<div class="load">
	<%= image_tag "loading.gif" %>
</div>

<div class="row">
	<div class="col-md-3">
		<h4>Categories</h4>
		<div class="panel-group" id="accordion">
			<% categories_having_data.each do|category| %>
			  <div class="panel panel-default">
			    <div class="panel-heading">
			      <h4 class="panel-title">
			        <%= link_to category.name, search_result_path(category_id: category.id), remote: true, :class=> "category_search" %>
			        <a data-toggle="collapse" data-parent="#accordion" href="#category_<%= category.id %>" style="float:right">
			        	<%= image_tag "down_arrow.png", :class=>"down_arrow" %>
			        </a>
			      </h4>
			    </div>
			    <div id="category_<%= category.id %>" class="panel-collapse collapse">
			      <div class="panel-body">
			        <ul class="list-group">
						<% category.sub_categories.each do|sub_category| %>
						  <li class="list-group-item">
						    <%= link_to sub_category.name, search_result_path(sub_category_id: sub_category.id), remote: true, :class=> "category_search"%>
						  </li>
						<% end %>
					</ul>
			      </div>
			    </div>
			  </div>
			<% end %>
		</div>

		<div>
			<h4>Filter by Store</h4>
			<%= form_tag search_result_path, :class=>"get_store", remote: true do %>
				<%= text_field_tag "store_id", "", required: true %>
				<%= submit_tag "search" %>
			<% end %>
		</div>
	</div>
	<!-- <div style="height: 50px;">
		<%#= link_to "box", search_result_path(layout: "box"),:class=> "btn btn-default pull-right" %>
		<%#= link_to "list", search_result_path(layout: "list"),:class=> "btn btn-default pull-right" %>
	</div> -->
	<div class="col-md-9 search_result_block">
		<%= render 'result_list' %>
	</div>
</div>


<script>
	$(".get_store").submit(function(){
		if ($("#store_id").val() != ""){
			$(".load").show()
		}
	})

	$(".category_search").click(function(){
		$(".load").show()
	})

	$(function() {
    $("#store_id").tokenInput("/get_store.json", {
    	tokenLimit: 1
    });
  });

</script>