  <%= form_for(@video_adv, multipart: true, :html=> {:class=>"video_form"}) do |f| %>
    <% if @video_adv.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@video_adv.errors.count, "error") %> prohibited this video_adv from being saved:</h2>

        <ul>
        <% @video_adv.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="row">
      <div class="col-md-6 form-group">
        <%= f.label :title, t(:title) %><br>
        <%= f.text_field :title, required: true, :class=>"form-control", :placeholder=>"Title of video_adv"  %>
      </div>
      <div class="col-md-6 form-group">
        <%= f.label :youtube_url %><br>
        <%= f.text_field :youtube_url, :class=>"form-control", :placeholder=>"Provide Your You tube video URL"  %>
        <p class="youtube_url error_message"></p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 form-group">
        <%= f.label :start_date %><br>
        <%= f.text_field :start_date, required: true, :class=>"form-control datepicker_main calculate_amount", :placeholder=>"Start Date" %>
      </div>
      <div class="col-md-6 form-group">
        <%= f.label :end_date %><br>
        <%= f.text_field :end_date, required: true, :class=>"form-control datepicker_main calculate_amount", :placeholder=>"End Date" %>
        <p class="date-warning error_message"></p>
      </div>
    </div>

    <div class="form-group">
      <h5>Select Branch For this video_adv </h5>
      <p class="branch-warning error_message"></p>
      <% @stores.each do |store| %>
        Store Name : <%= store.name %><br/>
        <% store.branches.each do |branch| %>
          <%= check_box_tag "branch[]", branch.id, @video_branches ? ((@video_branches.include? branch) ? true : false) : false %>
          <%= branch.name %>
        <% end %>
        <br/>
      <% end %>
    </div>
    
    <%= hidden_field_tag "amount" %>

    <div class="actions">
      <%= f.submit :class=>"btn btn-success create_video_adv"  %>
    </div>
  <% end %>
</div>

<script>
    $('.video_form').submit(function(){
      youtube_url=$("#video_adv_youtube_url").val();   
      branch = $("input[name='branch[]']:checked").val();

      if (!branch){
        $('.branch-warning').html('Please select at least one branch.');
        return false;
      }
      else{
        $('.branch-warning').html('');
      }  

      // weblink validation
      if (youtube_url == "" || isUrl(youtube_url)){
        $('.youtube_url').html("");
      }else{
        $('.youtube_url').html("Not a valid Youtube watch URL.");
        return false;
      }  

    })

  var preview = $(".upload-preview img");
  $("#video_adv_image").change(function(event){
     var input = $(event.currentTarget);
     var file = input[0].files[0];
     var reader = new FileReader();
     reader.onload = function(e){
         image_base64 = e.target.result;
         preview.attr("src", image_base64);
     };
     reader.readAsDataURL(file);
  });


// url validation method
  function isUrl(s) {
    regexp = /(http|https)?:\/\/(?:[a-zA_Z]{2,3}.)?(?:youtube\.com\/watch\?)((?:[\w\d\-\_\=]+&amp;(?:amp;)?)*v(?:&lt;[A-Z]+&gt;)?=([0-9a-zA-Z\-\_]+))/i;
    return regexp.test(s);
  }

  $(".calculate_amount").change(function(){
    if( ($("#video_adv_start_date").val() != "") && ($("#video_adv_end_date").val() != "") ){

      var total = (daydiff(parseDate($('#video_adv_start_date').val()), parseDate($('#video_adv_end_date').val())) + 1);

      // $(".create_video_adv").val("Create video_adv for $"+total)
      $(".create_video_adv").val("Create Video Adv.")
      $("#amount").val(total)
    }
  })

  function parseDate(str) {
    var mdy = str.split('-')
    return new Date(mdy[0], mdy[1]-1, mdy[2]);
  }

  function daydiff(first, second) {
    return (second-first)/(1000*60*60*24);
  }
</script>