<h1>Listing Education Types</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Amount</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @education_types.each do |education_type| %>
      <tr>
        <td><%= education_type.name %></td>
        <td><%= education_type.amount %></td>
        <td>
          <%= link_to t(:edit), edit_education_type_path(education_type, locale: I18n.locale) %>
          <%= link_to t(:destroy), [education_type, locale: I18n.locale], method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Education type', new_education_type_path(locale: I18n.locale)if @education_types.size < 2 %>
