<h1>Listing zones</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Amount</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @zones.each do |zone| %>
      <tr>
        <td><%= zone.name %></td>
        <td><%= zone.amount %></td>
        <td>
          <%= link_to t(:edit), edit_zone_path(zone, locale: I18n.locale) %>
          <%= link_to t(:destroy), [zone, locale: I18n.locale], method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Zone', new_zone_path(locale: I18n.locale)if @zones.count < 9 %>
