<div class="jumbotron">
  <div class="small_form">
    <%= form_for(@deal_type, url: (@deal_type.new_record? ? deal_types_path : deal_type_path(I18n.locale, @deal_type)) ) do |f| %>
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, required: true, :class=>"form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :amount %>
        <div class="input-group">
          <div class="input-group-addon">$</div>
          <%= f.number_field :amount, required: true, :class=>"form-control" %>
        </div>
      </div>
        <%= f.submit class: "btn btn-success" %>
    <% end %>
  </div>
</div>