<h1>Listing Deal Types</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Amount</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @deal_types.each do |deal_type| %>
      <tr>
        <td><%= deal_type.name %></td>
        <td><%= deal_type.amount %></td>
        <td>
          <%= link_to t(:edit), edit_deal_type_path(deal_type, locale: I18n.locale) %>
          <%= link_to t(:destroy), [deal_type, locale: I18n.locale], method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Deal type', new_deal_type_path(locale: I18n.locale) if @deal_types.count < 4 %>
