<%= form_for(@education, multipart: true, :html=> {:class=>"education_form"}) do |f| %>
  <% if @education.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@education.errors.count, "error") %> prohibited this education from being saved:</h2>

      <ul>
      <% @education.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title, required: true, :class=>"form-control", :placeholder=>"Title of the education" %>
  </div>

  <div class="row">
    <div class="col-md-4 form-group">
      <%= f.label :web_link %><br>
      <%= f.text_field :web_link, :class=>"form-control", :placeholder=>"Provide Your Products Web link" %>
      <p class="web_url error_message"></p>
    </div>

    <div class="col-md-4 form-group">
      <%= f.label :start_date %><br>
      <%= f.text_field :start_date, required: true, :class=>"form-control datepicker_main", :placeholder=>"Start Date" %>
    </div>
    <div class="col-md-4 form-group">
      <%= f.label :end_date %><br>
      <%= f.text_field :end_date, required: true, :class=>"form-control datepicker_main", :placeholder=>"End Date" %>
      <p class="date-warning error_message"></p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <div class="form-group">
        <h4>Select Type of your education </h4>
        <p class="education_type-warning error_message"></p>
        <% @education_types.each do |education_type| %>
          <%= check_box_tag "education_type[]", education_type.id, @education_education_types ? ((@education_education_types.include? education_type) ? true : false) : false %>
          <%= education_type.name %>
        <% end %>
      </div>
      <div class="form-group">
        <h4>Select Branch For this education </h4>
        <p class="branch-warning error_message"></p>
        <% @stores.each do |store| %>
          Store Name : <%= store.name %><br/>
          <% store.branches.each do |branch| %>
            <%= check_box_tag "branch[]", branch.id, @education_branches ? ((@education_branches.include? branch) ? true : false) : false %> 
            <%= branch.name %>
          <% end %>
          <br/>
        <% end %>
      </div>
    </div>
    <div class="col-md-4">
      <br/>
      <div class="upload-preview">
        <% if @education.id.present? %>
          <%= image_tag @education.image.url(:medium), :style=>"height: 140px; width: 90%;" %>
        <% else %>
          <%= image_tag "missing.png", :style=>"height: 140px; width: 90%;" %>
        <% end %>
      </div>
      <% if @education.id.present? %>
        <%= f.file_field :image %>
      <% else %>
        <%= f.file_field :image, required: true %>
      <% end %>
    </div>
  </div>


  <div class="actions">
    <%= f.submit :class=>"btn btn-success" %>
  </div>
<% end %>


<script>

  $('.education_form').submit(function(){
    
    education_type = $("input[name='education_type[]']:checked").val();
    branch = $("input[name='branch[]']:checked").val();

    startDate = $("#education_start_date").val();
    endDate = $("#education_end_date").val();
    web_link=$("#education_web_link").val();    

    if (!education_type){
      $('.education_type-warning').html('Please select at least one education Type.');
      return false;
    }
    else{
      $('.education_type-warning').html('');
    }

    if (!branch){
      $('.branch-warning').html('Please select at least one branch.');
      return false;
    }
    else{
      $('.branch-warning').html('');
    } 

    // weblink validation
    if (web_link == "" || isUrl(web_link)){
      $('.web_url').html("");
    }else{
      $('.web_url').html("Not a valid url.");
      return false;
    }  
    // date picker validation
    if ((Date.parse(startDate) >= Date.parse(endDate))) {
      $('.date-warning').html('End date should be greater than Start date');
      return false;
    }
  })

  var preview = $(".upload-preview img");
  $("#education_image").change(function(event){
     var input = $(event.currentTarget);
     var file = input[0].files[0];
     var reader = new FileReader();
     reader.onload = function(e){
         image_base64 = e.target.result;
         preview.attr("src", image_base64);
     };
     reader.readAsDataURL(file);
  });


// url validation method
  function isUrl(s) {
    var regexp = /(ftp|http|https):\/\/(\w+:{0,1}\w*@)?(\S+)(:[0-9]+)?(\/|\/([\w#!:.?+=&%@!\-\/]))?/
    return regexp.test(s);
  }

</script>