<br>
<%= link_to 'New education', new_education_path(locale: I18n.locale) , :class=>"btn btn-info pull-right" if user_signed_in? && (current_user.is_admin || @user == current_user) %>
<table class="table table-hover table-responsive">
  <thead>
    <tr>
      <th></th>
      <% if @user.is_admin %><th><%= t(:owner) %></th> <% end %>
      <th><%= t(:title) %></th>
      <th><%= t(:web_link) %></th>
      <th><%= t(:start_date) %></th>
      <th><%= t(:end_date) %></th>
      <th><%= t(:store) %></th>
      <th>Education Type</th>
      <th><%= t(:status) %></th>
      <% if (user_signed_in? && (current_user.is_admin || (@educations.collect(&:user).include? current_user))) %><th colspan="2"></th><% end %>
    </tr>
  </thead>

  <tbody>
    <% @educations.each do |education| %>
      <tr>
        <td><%= image_tag education.image.url(:tiny) %></td>
        <% if @user.is_admin %><td> <%= link_to education.user.name, profile_path(locale: I18n.locale,username: education.user.username) %> </td> <% end %>
        <td><%= link_to education.title %></td>
        <td><%= link_to education.web_link, education.web_link %></td>
        <td><%= education.start_date %></td>
        <td><%= education.end_date %></td>
        <td><% education.branches.collect(&:store).uniq.each do |s| %>
            <%= link_to s.name, store_show_path(s, locale: I18n.locale) %> <br/>
          <% end %>
        </td>
        <td><%= raw education.education_types.collect(&:name).join("<br/>") %></td>
        <td><%= education.expired? ? "Expired" : "Running" %></td>
        <% if user_signed_in? && (current_user.is_admin || education.user == current_user) %>
          <td><%= link_to t(:edit), edit_education_path(education, locale: I18n.locale) %></td>
          <td><%= link_to t(:destroy), [education, locale: I18n.locale], method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>