<nav class="navbar navbar-default" style="background-color:white; margin-bottom:0px; height: 90px;" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= root_url(locale: I18n.locale) %>"><%= image_tag "Etcty-70.png", :style=>"padding: 10px" %></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="margin-top: 10px;">

      <%= form_tag search_result_path(locale: I18n.locale), :class=>"form-inline navbar-form navbar-left", :style=>"margin-left: 5%;margin-top: 2%;" do %>
			  <div class="form-group" style="float:left">
			    <div class="input-group-btn" style="float:left">
						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
							<span class="glyphicon glyphicon-chevron-down">
							</span>
						</button>
						<ul class="dropdown-menu category_list_header">
							<% Category.all.order("name").each do |category| %>
								<li><a href="#" class="category" id="<%= category.id %>"><%= category.name %></a></li>
							<% end %>
						</ul>
					</div>
			  </div>
			  <%= hidden_field_tag "category_id" %>
			  <div class="form-group"  style="float:left">
			    <%= text_field_tag "search","", :class=>"form-control", :placeholder=>"#{t(:what)}?", :style=>"border-radius:0px; width: 250px;" %>
			  </div>
			  <div class="form-group"  style="float:left">
			    <%= text_field_tag "location","", :class=>"form-control", :placeholder=>"#{t(:where)}?", :style=>"border-radius:0px; width: 250px;" %>
			  </div>
			  <%= button_tag(type: t(:submit), class: "input-group-addon", style: "height: 34px; width: 35px;") do %>
				  <span class="glyphicon glyphicon-search">
					</span>
				<% end %>
			<% end %>

			<div>
				<ul class="nav navbar-nav navbar-right">
				Language: 
	    		<%= link_to "EN", {:controller=> params[:controller], action: params[:action], locale: "en"} , :class=>"language_link_header"%>|
	    		<%= link_to "SP", {:controller=> params[:controller], action: params[:action], locale: "sp"}, :class=>"language_link_header" %>
	    	</ul>
    	</div>
    	<div>
	      <ul class="nav navbar-nav navbar-right">
	      	<li>
	      		<%= country_select("user", "country", {selected: session[:country] }, :class=>"form-control country_select_header") %>
	      	</li>
	      	<% if user_signed_in? %>
		        <li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.username %> <span class="caret"></span></a>
		          <ul class="dropdown-menu" role="menu">
		            <li><%= link_to "Profile", profile_path(locale: I18n.locale,username: current_user.username) %></li>
		            <li class="divider"></li>
		            <% if current_user.is_admin %>
			            <li><%= link_to "Users", users_path(locale: I18n.locale) %></li>
			            <li><%= link_to "Zones", zones_path(locale: I18n.locale) %></li>
			            <li><%= link_to "Categories", categories_path(locale: I18n.locale)%></li>
			            <li><%= link_to "Sale Types", sale_types_path(locale: I18n.locale) %></li>
			            <li><%= link_to "Education Types", education_types_path(locale: I18n.locale) %></li>
			            <li><%= link_to "Deal Type", deal_types_path(locale: I18n.locale) %></li>
			            <li><%= link_to "Coupon Types", coupen_types_path(locale: I18n.locale) %></li>
			            <li class="divider"></li>
		            <% end %>
		            <li><%= link_to "Sign out", destroy_user_session_path(locale: I18n.locale), :method => :delete %></li>
		          </ul>
		        </li>
			    <% else %>
			    	<li><%= link_to "#{t(:login)}", new_user_session_path(locale: I18n.locale) %> </li>
			    	<li><%= link_to "#{t(:sign_up)}", new_user_registration_path(locale: I18n.locale) %> </li>
			    <% end %>
	      </ul>
	    </div>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<nav class="navbar  navbar-top  nav-bg" role="navigation" style="background: url(/assets/nav_bg.png) repeat-x;">
	<div class="container">
		<div class="mg_lft">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapsible1">
					<span class="sr-only">
						Toggle navigation
					</span>
					<span class="icon-bar">
					</span>
					<span class="icon-bar">
					</span>
					<span class="icon-bar">
					</span>
				</button>
			</div>
			<div class="navbar-collapse collapse" id="navbar-collapsible1">
				<ul class="nav navbar-nav navbar-left">
					<li>
						<%= link_to t(:home), root_url(locale: I18n.locale), :class => "#{'active' if params[:controller] == 'home' && params[:action] == 'index' }" %>
					</li>
					<li>
						<%= link_to t(:stores), stores_path(locale: I18n.locale), :class => "#{'active' if params[:controller] == 'stores' && params[:action] == 'index' }" %>
					</li>
					<li>
						<%= link_to t(:advertisements), advertisements_path(locale: I18n.locale), :class => "#{'active' if params[:controller] == 'advertisements' && params[:action] == 'index' }" %>
					</li>
					<li>
						<%= link_to t(:deals), deals_path(locale: I18n.locale), :class => "#{'active' if params[:controller] == 'deals' && params[:action] == 'index' }" %>
					</li>
					<!-- <li>
						<%#= link_to t(:home)"Banners", banners_path, :class => "#{'active' if params[:controller] == 'banners' && params[:action] == 'index' }" %>
					</li> -->
					<li>
						<%= link_to t(:sales), sales_path(locale: I18n.locale), :class => "#{'active' if params[:controller] == 'sales' && params[:action] == 'index' }" %>
					</li>
					<li>
						<%= link_to t(:educations), educations_path(locale: I18n.locale), :class => "#{'active' if params[:controller] == 'educations' && params[:action] == 'index' }" %>
					</li>
					<li>
						<%= link_to t(:flyers), flyers_path(locale: I18n.locale), :class => "#{'active' if params[:controller] == 'flyers' && params[:action] == 'index' }" %>
					</li>
					<li>
						<%= link_to t(:videos), video_advs_path(locale: I18n.locale), :class => "#{'active' if params[:controller] == 'video_advs' && params[:action] == 'index' }" %>
					</li>
					<li>
						<%= link_to t(:coupons), coupens_path(locale: I18n.locale), :class => "#{'active' if params[:controller] == 'coupens' && params[:action] == 'index' }" %>
					</li>
				</ul>
			</div>
		</div>
	</div>
</nav>
<% flash.each do |type, message| %>
  <div class="alert <%= bootstrap_class_for(type) %> fade in">
    <button class="close" data-dismiss="alert">×</button>
    <%= message %>
  </div>
<% end %>

<script type="text/javascript">
	$(function(){
    $(".dropdown-menu li a.category").click(function(){
	      $(".btn:first-child").text($(this).text());
	      $("#category_id").val(this.id)
	   });
	});
</script>


