<nav class="navbar navbar-default" style="background-color:white; margin-bottom:0px;" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= root_url %>"><%= image_tag "etcty-logo-75.png" %></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="margin-top: 10px;">

      <%= form_tag search_result_path, :class=>"form-inline navbar-form navbar-left", :style=>"margin-left:7%" do %>
			  <div class="form-group" style="float:left">
			    <div class="input-group-btn" style="float:left">
						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
							<span class="glyphicon glyphicon-chevron-down">
							</span>
						</button>
						<ul class="dropdown-menu category_list_header">
							<% Category.all.order("name").each do |category| %>
								<li><a href="#" class="category" id="<%= category.id %>"><%= category.name %></a></li>
							<% end %>
						</ul>
					</div>
			  </div>
			  <%= hidden_field_tag "category_id" %>
			  <div class="form-group"  style="float:left">
			    <%= text_field_tag "search","", :class=>"form-control", :placeholder=>"What?", :style=>"border-radius:0px; width: 250px;" %>
			  </div>
			  <div class="form-group"  style="float:left">
			    <%= text_field_tag "location","", :class=>"form-control", :placeholder=>"Where?", :style=>"border-radius:0px; width: 250px;" %>
			  </div>
			  <%= button_tag(type: "submit", class: "input-group-addon", style: "height: 34px; width: 35px;") do %>
				  <span class="glyphicon glyphicon-search">
					</span>
				<% end %>
			<% end %>

      <ul class="nav navbar-nav navbar-right">
      	<li>
      		<%= country_select("user", "country", {selected: %w(session[:country]) }, :class=>"form-control country_select_header") %>
      	</li>
      	<% if user_signed_in? %>
	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.username %> <span class="caret"></span></a>
	          <ul class="dropdown-menu" role="menu">
	            <li><%= link_to "Profile", profile_path(username: current_user.username) %></li>
	            <li class="divider"></li>
	            <% if current_user.is_admin %>
		            <li><%= link_to "Users", users_path %></li>
		            <li><%= link_to "Zones", zones_path %></li>
		            <li><%= link_to "Categories", categories_path %></li>
		            <li><%= link_to "Sale Types", sale_types_path %></li>
		            <li><%= link_to "Education Types", education_types_path %></li>
		            <li><%= link_to "Deal Type", deal_types_path %></li>
		            <li><%= link_to "Coupon Types", coupen_types_path %></li>
		            <li class="divider"></li>
	            <% end %>
	            <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
	          </ul>
	        </li>
	    <% else %>
	    	<li><%= link_to "Login", new_user_session_path %> </li>
	    	<li><%= link_to "Sign Up", new_user_registration_path %> </li>
	    <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<nav class="navbar  navbar-top  nav-bg" role="navigation" style="background: url(/assets/nav_bg.png) repeat-x;">
	<div class="container">
		<div class="mg_lft">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapsible1">
					<span class="sr-only">
						Toggle navigation
					</span>
					<span class="icon-bar">
					</span>
					<span class="icon-bar">
					</span>
					<span class="icon-bar">
					</span>
				</button>
			</div>
			<div class="navbar-collapse collapse" id="navbar-collapsible1">
				<ul class="nav navbar-nav navbar-left">
					<li>
						<%= link_to "Home", root_url, :class => "#{'active' if params[:controller] == 'home' && params[:action] == 'index' }" %>
					</li>
					<li>
						<%= link_to "Stores", stores_path, :class => "#{'active' if params[:controller] == 'stores' && params[:action] == 'index' }" %>
					</li>
					<li>
						<%= link_to "Advertisements", advertisements_path, :class => "#{'active' if params[:controller] == 'advertisements' && params[:action] == 'index' }" %>
					</li>
					<li>
						<%= link_to "Deals", deals_path, :class => "#{'active' if params[:controller] == 'deals' && params[:action] == 'index' }" %>
					</li>
					<!-- <li>
						<%#= link_to "Banners", banners_path, :class => "#{'active' if params[:controller] == 'banners' && params[:action] == 'index' }" %>
					</li> -->
					<li>
						<%= link_to "Sales", sales_path, :class => "#{'active' if params[:controller] == 'sales' && params[:action] == 'index' }" %>
					</li>
					<li>
						<%= link_to "Educations", educations_path, :class => "#{'active' if params[:controller] == 'educations' && params[:action] == 'index' }" %>
					</li>
					<li>
						<%= link_to "Flyers", flyers_path, :class => "#{'active' if params[:controller] == 'flyers' && params[:action] == 'index' }" %>
					</li>
					<li>
						<%= link_to "Videos", video_advs_path, :class => "#{'active' if params[:controller] == 'video_advs' && params[:action] == 'index' }" %>
					</li>
					<li>
						<%= link_to "Coupons", coupens_path, :class => "#{'active' if params[:controller] == 'coupens' && params[:action] == 'index' }" %>
					</li>
				</ul>
			</div>
		</div>
	</div>
</nav>
<% flash.each do |type, message| %>
  <div class="alert <%= bootstrap_class_for(type) %> fade in">
    <button class="close" data-dismiss="alert">×</button>
    <%= message %>
  </div>
<% end %>

<script type="text/javascript">
	$(function(){
    $(".dropdown-menu li a.category").click(function(){
	      $(".btn:first-child").text($(this).text());
	      $("#category_id").val(this.id)
	   });
	});
</script>


